body { text-align: center; }

canvas {
    background-color: #f4f4f4;
    border: 1px solid #000;
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    margin: 5px;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    font-size: 18px;
}

.button:hover {
    background-color: #aaa;
}
